<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fsu.cs.hw5">

    <!-- Do we need permissions? -->
    <uses-permission android:name="edu.fsu.cs.hw5.permission.READ_PERMISSION"/>
    <uses-permission android:name="edu.fsu.cs.hw5.permission.WRITE_PERMISSION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Fill in provider attributes -->
        <provider
            android:name="edu.fsu.cs.hw5.MyContentProvider"
            android:authorities="edu.fsu.cs.hw5.provider"
            android:exported="true"
            android:readPermission="edu.fsu.cs.hw5.permission.READ_PERMISSION"
            android:writePermission="edu.fsu.cs.hw5.permission.WRITE_PERMISSION"
            />

    </application>

</manifest>